@media(min-width:760px)
{
	.news-input{width:50%;}
}
*{
	padding:0px;
	margin:0px;
}
body{
	background-color:#fff;
}


.gallery{
	padding:80px 50px;
	
}
img{
	max-width:100%;
}

.gallery img{
	background:fff;
	padding:15px;
	width:100%;
	box-shadow:0px;
	
}



#gallery-popup .modal-img{
	width:100%;
	
}

.imagesize{
	width:50%;
	height:50vh;
}

.indexsize{
	width:30%;
	height:50%;
}



.contactcontainer{
	width:100%;
	height:100vh;
	background:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
}
form{
	background:#ddd;
	display:flex;
	flex-direction:column;
	padding:2vw 4vw;
	width:90&;
	max-width:600px;
	border-radius:10px;
}

form h3{
	color:#555;
	font-weight:800;
	margin-bottom:20px;
}
form input, form textarea{
	border:0;
	margin:10px 0;
	padding:20px;
	outline:none;
	background:#f5f5f5;
	font-size:16px;
	
}

form button{
	padding:15px;
	background:#ffs361;
	color:#ffs361;
	font-size:18px;
	border:0;
	outline:none;
	cursor:pointer;
	width:150px;
	margin:20px auto 0;
	border-radius:30px;
	
}




.card {
	top:50px;
}
