@media(min-width:760px)
{
	.news-input{width:50%;}
}
*{
	padding:0px;
	margin:0px;
}
body{
	background-color:#fff;
}


.gallery{
	padding:80px 50px;
	
}
img{
	max-width:100%;
}

.gallery img{
	background:fff;
	padding:15px;
	width:100%;
	box-shadow:0px;
	
}



#gallery-popup .modal-img{
	width:100%;
	
}

.imagesize{
	width:50%;
	height:50vh;
}

.indexsize{
	width:30%;
	height:50%;
}



.contactcontainer{
	width:100%;
	height:100vh;
	background:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
	
}
